/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

* {box-sizing: border-box}

body, html { 
  overflow-x: hidden; 
  overflow-y: auto;
  max-height: 1000px;
}

body {
  font-family: monospace;
  margin: 0;
  line-height: 1.5;
  background-image: linear-gradient(to right, rgb(51,	195,105), rgb(45, 162, 153));
}
.root {
  display: flex;
  justify-content: center;
  padding: 1rem;

}

.main-wrap {
  max-width: 1280px;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgb(243, 243, 243);
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  min-height: calc(100vh - 3rem); 
  justify-content: space-between;


}

.left-column {
  width: 28%;
}

.right-column {
  width: 68%;
  align-items: center;
}



.title {
  margin: 30px 0px;
  font-size: 42px;
  font-family: Helvetica;
  color: rgb(45, 162, 153);

}


h2 {
  font-size: 20px;
  font-family: Helvetica;
  color: rgb(45, 162, 153);

}
.info {
  font-size: 14px;
  line-height: 2;
}



.result, .searchAndCountryList, .title {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    -webkit-tap-highlight-color: transparent;
}

.searchAndCountryList {
  padding: 20px;

}

.searchbar {
  display: flex;

}

.searchField {
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  height: 30px;
  border-radius: 4px;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 200px;
}

.searchButton {
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px; 
}


::-webkit-input-placeholder {
  color: rgb(182, 182, 182);
  font-size: 16px;
}

.clickinfo {
  margin-top: 10px;
}


.country-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

.country-item {
  list-style-type: none;
  font-size: 16px;
  border: 2px solid;
  border-radius: 4px;
  padding: 3px 6px;
  margin: 2px;
  transition: all .2s ease-in-out; 
}
.country-item:hover{
  transform: scale(1.05);
}

.result {
  text-align: center;
  overflow: visible;
  font-size: 13px;
  padding: 100px 0;
}

.plot-container {
  cursor: pointer;
}

.is-selected, .key-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.autocomplete-list {
  list-style-type: none;
  padding-left: 2px;
  padding-top: 0px;
  margin: 0 0 0 0;
  border: solid 1px black;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  position:absolute;
  background-color: white;

}

@media (max-width: 500px) {
  .root {
    padding: 5px 0;
    justify-content: left;
  }
  .main-wrap {
    flex-direction: column;
    width: auto;
    padding: 6px;

  }
  .searchAndCountryList {
    margin: 0 10px;
    padding: 15px 10px;

  }
  .left-column {
    width: auto;
  }
  .right-column{
    width: auto;
  }
  h2 {
    margin: 5px 0;
    font-size: 14px;
  }
  .country-item {
    list-style-type: none;
    font-size: 12px;
    border: 2px solid;
    border-radius: 4px;
    padding: 3px 6px;
    margin: 2px;
    transition: all .2s ease-in-out; 
  }
  .title {
    margin: 10px auto;
  }
  .result {
    padding: 0;
    font-size: 20px;
  }
  .chart__tick {
    /* transform: translate(120px,0px);
    -ms-transform: translate(120px,0px);
    -webkit-transform: translate(120px,0px); 
    -o-transform: translate(120px,0px); 
    -moz-transform: translate(120px,0px); */
  }

}

